<!-- <div class="container-fluid">
  <% if @jobs.blank? %> <% else %>
  <div class="row" id="all-articles">
    <% @jobs.each do |job| %>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 my-2">
      <div class="card shadow p-2 mb-4 bg-white rounded">
        <div class="card-body">
          <strong class="author-name">Created by <%= job.user.name %> </strong>
          <%= link_to job_path(job.id) do %>
          <h4 class="text-dark title mt-3 mb-2">
            <strong>
              <%= truncate(strip_tags(job.title.to_s), length: 38) %>
            </strong>
          </h4>
          <% end %>
        </div>
        <div class="card-footer">
          <small class="text-muted">Total: <%= (job.openings) %></small> |
          <small class="text-muted">Remaining: <%= job.remaining %></small> |
          <small class="text-muted">Selected: <%= job.selected %></small> |
          <small>
            <%= link_to "Edit", edit_job_path(job) %> |
						<%= link_to "Delete" , job_path(job) %> |
					</small> |
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div> -->

<div class="container-fluid">
  <div class="row text-center">
    <div class="col-md-4">
      <h5>High</h5>
      <% @jobshp.each do |jobhp| %>
        <div class="card shadow p-2 mb-4 bg-white rounded">
          <div class="card-body">
            <strong class="author-name">Created by <%= jobhp.user.name %> </strong>
            <%= link_to job_path(jobhp.id) do %>
            <h4 class="text-dark title mt-3 mb-2">
              <strong>
                <%= truncate(strip_tags(jobhp.title.to_s), length: 38) %>
              </strong>
            </h4>
            <% end %>
          </div>
          <div class="card-footer">
            <small class="text-muted">Total: <%= (jobhp.openings) %></small> |
            <small class="text-muted">Remaining: <%= jobhp.remaining %></small> |
            <small class="text-muted">Selected: <%= jobhp.selected %></small> |
            <small>
              <button class="btn btn-primary jobid" data-jjid='<%= jobhp.id %>'> Click </button>
            </small> |
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-4">
      <h5>Medium</h5>
      <% @jobsmp.each do |jobmp| %>
        <div class="card shadow p-2 mb-4 bg-white rounded">
          <div class="card-body">
            <strong class="author-name">Created by <%= jobmp.user.name %> </strong>
            <%= link_to job_path(jobmp.id) do %>
            <h4 class="text-dark title mt-3 mb-2">
              <strong>
                <%= truncate(strip_tags(jobmp.title.to_s), length: 38) %>
              </strong>
            </h4>
            <% end %>
          </div>
          <div class="card-footer">
            <small class="text-muted">Total: <%= (jobmp.openings) %></small> |
            <small class="text-muted">Remaining: <%= jobmp.remaining %></small> |
            <small class="text-muted">Selected: <%= jobmp.selected %></small> |
            <small>
              <button class="btn btn-primary jobid" data-jjid='<%= jobmp.id %>'> Click </button>
            </small> |
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-4">
      <h5>Low</h5>
      <% @jobslp.each do |joblp| %>
        <div class="card shadow p-2 mb-4 bg-white rounded">
          <div class="card-body">
            <strong class="author-name">Created by <%= joblp.user.name %> </strong>
            <%= link_to job_path(joblp.id) do %>
            <h4 class="text-dark title mt-3 mb-2">
              <strong>
                <%= truncate(strip_tags(joblp.title.to_s), length: 38) %>
              </strong>
            </h4>
            <% end %>
          </div>
          <div class="card-footer">
            <small class="text-muted">Total: <%= (joblp.openings) %></small> |
            <small class="text-muted">Remaining: <%= joblp.remaining %></small> |
            <small class="text-muted">Selected: <%= joblp.selected %></small> |
            <small>
              <button class="btn btn-primary jobid" data-jjid='<%= joblp.id %>'> Click </button>
            </small> |
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%= render 'shared/candidatetable' %>
</div>

