<div class="container-fluid">
  <% if @jobs.blank? %> <% else %>
  <div class="row" id="all-articles">
    <% @jobs.each do |job| %>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 my-2">
      <div class="card shadow p-2 mb-4 bg-white rounded">
        <%= link_to job_path(job.id) do %> <%# image_tag(job.photo,
        class:"card-img-top", style:"max-height: 150px;") if job.photo.attached?
        %> <% end %>
        <div class="card-body">
          <strong class="author-name">Created by <%= job.user.name %> </strong>
          <%= link_to job_path(job.id) do %>
          <h4 class="text-dark title mt-3 mb-2">
            <strong>
              <%= truncate(strip_tags(job.title.to_s), length: 38) %>
            </strong>
          </h4>
          <% end %>
        </div>
        <div class="card-footer">
          <!-- <small class="text-muted"><%= (job.created_at).strftime("%b %d, %Y")%></small> -->
          <small class="text-muted">Total: <%= (job.openings) %></small> |
          <small class="text-muted">Remaining: <%= job.remaining %></small> |
          <small class="text-muted">Selected: <%= job.selected %></small> |
          <small>
            <%= link_to "Edit", edit_job_path(job) %> |
						<%= link_to "Delete" , job_path(job) %> |
					</small> |
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
