<div class="row justify-content-md-center mt-4" id="articleShowPage">
  <div class="col-8">
    <div class="card text-center shadow mb-5 bg-white rounded">

      <div class="card-body">
        <%= link_to candidate_path(@candidate.id) do %>
          <h3 class="text-dark title mt-3 mb-2 d-flex flex-column bd-highlight mb-3">
            <strong>
              <%= truncate(strip_tags(@candidate.name.to_s), length: 38) %>
            </strong>
          </h3>
            <% end %>
            <div class='some-page-wrapper'>
              <div class='row mb-3'>
                <div class='column'>
                  <div class='blue-column'>
                    Email:
                  </div>
                </div>
                <div class='column'>
                  <div class='green-column'>
                    <strong>
                      <%= @candidate.email %>
                    </strong>
                  </div>
                </div>
              </div>

              <div class='row mb-3'>
                <div class='column'>
                  <div class='blue-column'>
                    Phone:
                  </div>
                </div>
                <div class='column'>
                  <div class='green-column'>
                    <strong>
                      <%= @candidate.phone %>
                    </strong>
                  </div>
                </div>
              </div>

              <div class='row mb-3'>
                <div class='column'>
                  <div class='blue-column'>
                    Job id:
                  </div>
                </div>
                <div class='column'>
                  <div class='green-column'>
                    <strong>
                      <%= @candidate.job_id %>
                    </strong>
                  </div>
                </div>
              </div>

              <div class='row mb-3'>
                <div class='column'>
                  <div class='blue-column'>
                    Skill:
                  </div>
                </div>
                <div class='column'>
                  <div class='green-column'>
                    <strong>
                      <%= @candidate.skill %>
                    </strong>
                  </div>
                </div>
              </div>

              <div class='row mb-3'>
                <div class='column'>
                  <div class='blue-column'>
                    Work experirence:
                  </div>
                </div>
                <div class='column'>
                  <div class='green-column'>
                    <strong>
                      <%= @candidate.work_experience %>
                    </strong>
                  </div>
                </div>
              </div>

              <div class='row mb-3'>
                <div class='column'>
                  <div class='blue-column'>
                    CTC:
                  </div>
                </div>
                <div class='column'>
                  <div class='green-column'>
                    <strong>
                      <%= @candidate.ctc %>
                    </strong>
                  </div>
                </div>
              </div>

              <div class='row mb-3'>
                <div class='column'>
                  <div class='blue-column'>
                    Notice period:
                  </div>
                </div>
                <div class='column'>
                  <div class='green-column'>
                    <strong>
                      <% if @candidate.notice_period == "" %>
                        --
                      <% else %>
                        <%= @candidate.notice_period %>
                      <% end %>
                    </strong>
                  </div>
                </div>
              </div>

              <div class='row mb-3'>
                <div class='column'>
                  <div class='blue-column'>
                    Status:
                  </div>
                </div>
                <div class='column'>
                  <div class='green-column'>
                    <strong>
                      <div id="statusspan">
                        <% if @candidate.status == "" %>
                          <span id="statusspan">--</span>
                        <% else %>
                          <%= @candidate.status %>
                        <% end %>
                      </div>
                    </strong>
                  </div>
                </div>
              </div>

              <div class='row mb-4'>
                <div class='column'>
                  <div class='blue-column'>
                    Rounds:
                  </div>
                </div>
                <div class='column'>
                  <div class='green-column'>
                    <select class="form-select form-select-sm w-50" name="rounds" id="rounds" data-cid='<%= @candidate.id %>'>
                      <option value="Round 1">Round 1</option>
                      <option value="Round 2">Round 2</option>
                      <option value="Round 3">Round 3</option>
                      <option value="Round 4">Round 4</option>
                      <option value="Round 5">Round 5</option>
                    </select>
                  </div>
                </div>
              </div>

            </div>

            <%= link_to "Edit" , edit_candidate_path(@candidate), class: "btn btn-outline-info mt-2" %>
            <%= link_to "Delete" , candidate_path(@candidate), class: "btn btn-outline-danger mt-2" %>
      </div>

      <div class="card-footer">

        <a class="btn mb-4" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          <i class="fa fa-comments" aria-hidden="true"> </i>
            <%= @candidate.comments.count %>
        </a>

        
        <% if @candidate.comments.present? || signed_in? %>
          <div class="collapse" id="collapseExample">
            <div class="card card-body comment-form">
              <%= render 'comments/comment' %>

            </div>
          </div>
          <% if signed_in? %>

            <div class="collapse" id="collapseExample">
              <div class="card card-body my-4">
                <%= render 'comments/form' %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      </div>
    </div>
  </div>
  </div>